<div class="m-20">
  <h1 class="mb-11 text-3xl text-center font-medium">Shopping List</h1>
  <table class="mb-20 border-2 text-left w-1/2 border-slate-700 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 p-4">
    <tr>
      <th class="text-xs text-white uppercase bg-gray-700 p-4">Food</th>
      <th class="text-xs text-white uppercase bg-gray-700 p-4">Quantity</th>
      <th class="text-xs text-white uppercase bg-gray-700 p-4">Price</th>
    </tr>
    <h2 class="my-5 border-solid w-72 rounded-md p-2 bg-black text-white text-xl text-center">amought of items to buy: <%= @recipefoods.length%></h2>
    <h3 class="my-5 border-solid w-80 rounded-md p-2 bg-black text-white text-xl text-center">total value of food needed it: <%= @recipefoods.sum {
        |recipefood| (recipefood.quantity - recipefood.food.quantity) * recipefood.food.price } %></h3>
    <% @recipefoods.each do |foods| %>
    <tr>
        <td class="p-4"><%= foods.food.name %></td>
        <td class="p-4"><%= foods.quantity - foods.food.quantity %></td>
        <td class="p-4"><%= foods.food.price * (foods.quantity - foods.food.quantity) %></td>
    </tr>
    <% end %>
  </table>
</div>