<h1>Public Recipes</h1>

<% @recipes.each do |recipe| %>
<%= link_to(recipe_path(recipe)) do %>
  <div>
    <%= recipe.name %>
    <%= "by #{recipe.user.name}"%>
    <%= "Total food items #{recipe.recipe_foods.count}" %>
      <%amount = 0%>
    <% recipe.recipe_foods.each do |f|%>
      <% amount += ((f.quantity * f.food.price)) %>
    <%end%>
    <%="Total amount #{amount}"%>
  </div>
<%end%>  
<%end%>
