<div>
  <div>
    Prearation time: <%= @recipe.preparation_time%> hour/s
  </div>
  <div>
    Public: <%= check_box_tag checked: @recipe.public %>
  </div>
  </div>
    Cooking time: <%= @recipe.cooking_time%> hour/s
  <div>
    Steps go here...
  </div>
  
    <% @recipe.foods.each do |food| %>
        <div>
            <%= render food_path %>
        </div>
            <%= link_to "Remove",user_recipe_food_path(params[:user_id], params[:id], food.id),data: {turbo_method: :delete}  %>
            <%= link_to "Modify",edit_user_recipe_path(params[:user_id], params[:id], food.id), method: :edit  %>
    <% end %>
</div>    