<div class="food-container">
  <button class="add-food-button">
    <%= link_to 'Add Food!', new_food_path(@foods), class: "add-food-link" %>
  </button>
  <table class="food-table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= button_to "Delete", food_path(food), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>