<h1 class="app-title">Add a new food to your list</h1>

<%= form_with model: [@food], local:true, class: "food-form" do |form| %>
  <div class="form-group">
    <%= form.label :name, "Food name"%>
    <%= form.text_field :name %>
  </div>
  <div class="form-group">
    <%= form.label :measurement_unit, "Measure Unit"%>
    <%= form.select :measurement_unit, ['units','grams', 'kilograms', 'liters'] %>
  </div>
  <div class="form-group">
    <%= form.label :price, "Unit price"%>
    <%= form.text_field :price, placeholder: "Unit price " %>
  </div>
  <div class="form-group">
    <%= form.label :quantity, "Amount of food"%>
    <%= form.text_field :quantity, placeholder: "Quantity " %>
  </div>
  <div class="form-group">
    <%= form.submit "Add Food", class: "button submit-button" %>
  </div>
<% end %>