<%=@total%>

<div class="m-20">
  <h1 class="mb-11 text-3xl text-center font-medium">Shopping List</h1>
  <table class="mb-20 border-2 text-left w-1/2 border-slate-700 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 p-4">
    <tr>
      <th class="text-xs text-white uppercase bg-gray-700 p-4">Food</th>
      <th class="text-xs text-white uppercase bg-gray-700 p-4">Quantity</th>
      <th class="text-xs text-white uppercase bg-gray-700 p-4">Price</th>
    </tr>
    <h2 class="my-5 border-solid w-72 rounded-md p-2 bg-black text-white text-xl text-center">Amount of items to buy: <%= @recipes.count%></h2>
    <h3 class="my-5 border-solid w-80 rounded-md p-2 bg-black text-white text-xl text-center">Total value of food needed: <%= @value[0]%>  
    <% @foods.each do |food| %>
    <% unless @value[1][food.id].nil? %>
    <tr>       
        <td class="p-4"><%= food.name %></td>
        <td class="p-4"><%= food.quantity - @value[1][food.id]%></td>
        <td class="p-4"><%= food.price * (food.quantity - @value[1][food.id]) %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>

